 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/362523197-0.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 438px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 72px 742px 0 67px;
}

.u-section-1 .u-text-2 {
  margin: 21px auto 0 120px;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: 45px auto 60px 83px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 361px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 609px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 277px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 389px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 208px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 209px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 131px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 76px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1071px;
}

.u-section-2 .u-table-1 {
  width: 1000px;
  margin: 1px 0 0 auto;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-block-0f03-4 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-1 {
  background-image: none;
}

.u-section-2 .u-table-cell-2 {
  background-image: none;
}

.u-section-2 .u-table-cell-3 {
  background-image: none;
}

.u-section-2 .u-table-cell-4 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-16 {
  background-image: none;
}

.u-section-2 .u-table-cell-17 {
  background-image: none;
}

.u-section-2 .u-table-cell-18 {
  background-image: none;
}

.u-section-2 .u-table-cell-19 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-34 {
  background-image: none;
  font-weight: 400;
}

.u-section-2 .u-table-cell-35 {
  background-image: none;
  font-weight: 400;
}

.u-section-2 .u-table-cell-36 {
  background-image: none;
}

.u-section-2 .u-table-cell-37 {
  background-image: none;
  font-weight: 700;
}

.u-section-2 .u-table-cell-38 {
  font-weight: 700;
}

.u-section-2 .u-table-2 {
  width: 1000px;
  margin: 26px 0 1px auto;
}

.u-section-2 .u-table-entity-2 {
  min-height: 100px;
}

.u-block-0f03-92 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-49 {
  background-image: none;
}

.u-section-2 .u-table-cell-50 {
  background-image: none;
}

.u-section-2 .u-table-cell-51 {
  background-image: none;
}

.u-section-2 .u-table-cell-52 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-70 {
  font-weight: 400;
  background-image: none;
}

.u-section-2 .u-table-cell-71 {
  background-image: none;
}

.u-section-2 .u-table-cell-72 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-table-1 {
    width: 940px;
  }

  .u-section-2 .u-table-2 {
    width: 940px;
    height: 787px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-table-1 {
    width: 720px;
  }

  .u-section-2 .u-table-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-table-1 {
    width: 540px;
  }

  .u-section-2 .u-table-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-table-1 {
    width: 340px;
  }

  .u-section-2 .u-table-2 {
    width: 340px;
  }
}